<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <title th:text="${title}"></title>
<body>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  <table class="table bg-dark mt-4 ">
    <thead>
      <tr style="color: white;">
        <td>id</td>
        <td>name</td>
        <td>code</td>
        <td>pricre</td>
      </tr>
    </thead>
    <tbody>

     <tr th:each=" data : ${datas}" style="color: white;">
       <td th:text="${data.id}"></td>
       <td th:text="${data.name}"></td>
       <td th:text="${data.code}"></td>
       <td th:text="${data.price}"></td>
     </tr>
    </tbody>


  </table>
   

  
</body>
<script src="/webjars/bootsrap/js/bootstrap.min.js"></script>
</html>