<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <title th:text="${title}"></title>
<body>
  <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Spring-test</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
           <ul class="navbar-nav">
            <li class="nav-item">
               <a class="nav-link active" aria-current="page" href="/">Home</a>
             </li>
            <li class="nav-item">
              <a class="nav-link" href="/addData">Add Data</a>
            </li>
           </ul>
        </div>
       </div>
     </nav>
    <div class="data m-3 ">
      <table class="table bg-dark mt-4 ">
         <thead class="bg-danger">
          <tr style="color: white;">
             <td>id</td>
            <td>name</td>
            <td>code</td>
            <td>pricre</td>
            <td>Manage</td>
          </tr>
        </thead>
        <tbody>
          <h1>Data Manage</h1>
          <tr th:each=" data : ${datas}" style="color: white;">
            <td th:text="${data.id}"></td>
            <td th:text="${data.name}"></td>
            <td th:text="${data.code}"></td>
            <td th:text="${data.price}"></td>
            <td><a th:href="@{'/edit/'+ ${data.id} }" class="badge bg-success">update</a> | <a th:href="@{'/delete/'+ ${data.id} }" class="badge bg-danger">delete</a></td>
          </tr>
        </tbody>
      </table>
    </div> 
</body>
<script src="/webjars/bootsrap/js/bootstrap.bundle.min.js"></script>
</html>